<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanbit.cgv.mapper.Mapper">


	<select id="selectSome" resultType="map" parameterType="com.hanbit.cgv.command.Command">
		
		<choose>
			<when test="table eq 'movieChart'">
            select t.*,s.*,p.*,i.* from (movie t join steelcut s on t.movie_seq=s.movie_seq join movie_picture p on t.movie_seq=p.movie_seq join movie_info i on t.movie_seq=i.movie_seq )order by cast(${param.movie_sort} as unsigned) desc;
         </when>
			<when test="table eq 'comment'">
				select c.*,m.profile from comment c join member m on c.member_id=m.member_id where c.movie_seq=#{param.movie_seq} order by comment_seq desc
			</when>
			<when test="table eq 'myreservation'">
select r.*,p.poster from reservation r join movie_picture p on r.movie_seq=p.movie_seq where r.member_id=#{param.member_id}
			</when>
			<when test="table eq 'qna'">
select * from qna where member_id=#{param.member_id}
			</when>
			 <when test="table eq 'reservation2'">
            select seat from reservation where movie_seq = #{param.movie_seq} and place_seq = #{param.place_seq} and theater_seq = #{param.theater_seq} and advance_date = #{param.advance_date} and schedule_seq = #{param.schedule_seq} group by schedule_seq order by reservation_seq desc;
         </when>
         <when test="table eq 'steelcut'">
            select * from steelcut2 where movie_seq=#{param.movie_seq}
         </when>
         
			<otherwise>
				select * from ${table}
			</otherwise>
		</choose>
	</select>
	<select id="selectOne" resultType="map" parameterType="com.hanbit.cgv.command.Command">
		
		<choose>
			
			<when test="table eq 'movieDetail'">
				select * from (select t.*,s.steelcut,p.poster,p.trailer,i.genre,i.movie_time,i.like_count,i.people_count,i.score,i.introduce,i.staff from movie t join steelcut s on t.movie_seq=s.movie_seq join movie_picture p on t.movie_seq=p.movie_seq join movie_info i on t.movie_seq=i.movie_seq) t where t.movie_seq=#{param.movie_seq}
			</when>
			<when test="table eq 'login'">
				select * from member where member_id=#{param.member_id} and pass=#{param.pass}
			</when>
			 <when test="table eq 'findid'">
            select * from member where name=#{param.member_name} and phone=#{param.member_phone}
         </when>   
         <when test="table eq 'findpw'">
            select * from member where member_id=#{param.member_id} and phone=#{param.member_phone}
         </when>   
		<when test="table eq 'idCheck'">
            select * from member where member_id=#{param.member_id}
         </when> 
          <when test="table eq 'genderGraph'">
              select ROUND((male/total*100),1) male,ROUND((female/total*100),1) female
			  from
			  (select count(CASE WHEN gender='male' THEN 1 END) male,count(CASE WHEN gender='female' THEN 1 END) female, count(g.gender) total
			  from(select r.movie_seq, r.member_id, m.gender from reservation r join member m on r.member_id = m.member_id
			  where r.movie_seq=#{param.movie_seq})g
			  group by g.movie_seq)g2;
         </when>
         <when test="table eq 'charmpoint'">
            select * FROM charmpoint where movie_seq=#{param.movie_seq};
         </when>
         <when test="table eq 'ages'">
              select 
				ROUND((teen/sum(t3.teen+t3.twenty+t3.thirty+t3.forty)*100),1) 'teen',
				ROUND((twenty/sum(t3.teen+t3.twenty+t3.thirty+t3.forty)*100),1) 'twenty',
				ROUND((thirty/sum(t3.teen+t3.twenty+t3.thirty+t3.forty)*100),1) 'thirty',
				ROUND((forty/sum(t3.teen+t3.twenty+t3.thirty+t3.forty)*100),1) 'forty'
        
				  from(select 
				     COUNT((CASE WHEN t2.ages DIV 10 = 1 THEN 1 ELSE NULL END)) 'teen',
				     COUNT((CASE WHEN t2.ages DIV 10 = 2 THEN 1 ELSE NULL END)) 'twenty',
				     COUNT((CASE WHEN t2.ages DIV 10 = 3 THEN 1 ELSE NULL END)) 'thirty',
				     COUNT((CASE WHEN t2.ages DIV 10 = 4 THEN 1 ELSE NULL END)) 'forty'
			      
				from
				    (select (YEAR(now())-(MID(ssn,1,2)+(IF (MID(ssn, 8, 1) = '1' OR MID(ssn, 8, 1) = '2', 1900, 2000)))) AS ages
				      From 
				    (select ssn from reservation r join member m on r.member_id = m.member_id
				      where r.movie_seq=#{param.movie_seq})t1)t2)t3;
         </when>
			<otherwise>
				select * from ${table}
			</otherwise>
		</choose>
	</select>
	<insert id="insert" parameterType="com.hanbit.cgv.command.Command">
		<choose>
			 <when test="table eq 'reservation'">
            insert into reservation values(0,#{param.total_cost},#{param.advance_date},#{param.movie_seq},#{param.member_id},#{param.place_seq},#{param.theater_seq},#{param.schedule_seq},#{param.seat_list})
         </when>
			<when test="table eq 'comment'">
				insert into comment (movie_seq,member_id,content,comment_like,comment_dislike,regdate) values(#{param.movie_seq},#{param.member_id},#{param.content},'0','0',now())
			</when>
			<when test="table eq 'member'">
				insert into member (member_id,ssn,name,email,phone,address,profile,zipcode,pass,gender) values(#{param.member_id},#{param.ssn},#{param.name},#{param.email},#{param.phone},#{param.address},#{param.profile},#{param.zipcode},#{param.pass},#{param.gender})
			</when>
			<when test="table eq 'qna'">
				insert into qna values(0,'1111',#{param.content},'읽지않음',now(),#{param.member_id});
			</when>
			 
			<otherwise>
				insert into reservation values(auto_increment,#{param.total_cost},#{param.advance_date},#{param.member_id},#{place_seq},#{theater_seq},#{schedule_seq},#{movie_seq})
			</otherwise>	
		</choose>
	</insert>
	<update id="update" parameterType="com.hanbit.cgv.command.Command">
		
		<choose>
		<when test="table eq 'update'">
       		update member set name=#{param.name}, email=#{param.email}, phone=#{param.phone}, address=#{param.address}, zipcode=#{param.zipcode}, pass=#{param.pass} where member_id=#{param.member_id}
		</when>
		<when test="table eq 'like'">
       		update comment set comment_like=#{param.comment_like} where comment_seq=#{param.comment_seq}
		</when>
		<when test="table eq 'movieLike'">
       		update movie_info set like_count=#{param.like_count} where movie_seq=#{param.movie_seq}
		</when>
		<when test="table eq 'updatePicture'">
       		update member set profile=#{picurl} where member_id='jahun'
		</when>
		 <when test="table eq 'apply'">
         update reservation set seat = #{param.seat_list} where advance_date = #{param.advance_date} and movie_seq = #{param.movie_seq} and place_seq = #{param.place_seq} and schedule_seq = #{param.schedule_seq}
      </when>
		<otherwise>
			
		</otherwise>
		</choose>
		
   </update>
   <delete id="delete" parameterType="com.hanbit.cgv.command.Command">
	   <choose>
			<when test="table eq 'deleteQna'">
	       		delete from qna where qna_seq=#{param.qna_seq}
			</when>
			<when test="table eq 'deleteMember'">
	       		delete from member where member_id=#{param.member_id} and pass=#{param.pass}
			</when>
			<otherwise>
				
			</otherwise>
			</choose>
   
   </delete>
</mapper>